* {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-left: 20px;
}

a {
  text-decoration: none;
  padding: 15px;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 0 2%;
}

.btn {
  background-color: #ff7f00;
  color: #fff;
  border-radius: 10px;
}
