.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 2%;
    text-align: center;
}

.container h1 {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 1;
    text-transform: uppercase;
    color: rgb(158, 37, 37);
 
}

.container p{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1;
    color: rgba(207, 53, 53, 0.26);
    max-width: 500px;
    margin: 0 auto;
}