body{
    background: rgba(74, 52, 170, 0.678);
}
.container{
    max-width: 960px;
    margin: 10px auto;
    padding: 2%;
    text-align: center;
    border: 1px solid #fff;
}

h2{
    color: #fff;
    font-weight: "bold";
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

p{
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1rem;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

a{
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    color: #ff7f00;
}