@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

.container {
  max-width: 960px;
  margin: 100px auto 100px auto;
  padding: 0 2%;
  background: #efecec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container nav ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
